   
    /*스와이퍼 라이브러리*/
   

    .slide {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .slide-1 {
      height: 691px;
      width: 1920px;
    }
   
   .slide-1-1{
z-index:1;
  left:1454px;
  top:534px;
}
 
    .swiper-container {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background: transparent;
      border: 1px solid #ed8585;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      width: 40px;
      transition: width 0.5s;
      border-radius: 5px;
      background: #ed8585;
      border: 1px solid transparent;
    }

    .swiper-button-next {
      background-image: url("https://cdn.jsdelivr.net/gh/chaeryeong1/lotteworld/Group 1491231.svg");
      padding-right: 60px;
    }

    .swiper-button-prev {
      background-image: url("https://cdn.jsdelivr.net/gh/chaeryeong1/lotteworld/Group 1501231.svg");
      padding-left: 60px;
    }
    /* 폰트적용 */
@font-face {
    font-family: 'LeferiBaseType-RegularA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html > body {
  font-family: "LeferiBaseType-RegularA";
}


/*커스텀 라이브러리*/
*{
  padding:0;
  margin:0;
}

.con{
  width:1920px;
  margin:0 auto;
}

@media ( min-width: 1900px ) {
  body { overflow-x:hidden; }
}
/*뜨는애니메이션 라이브러리*/

.festival-snoow,.attraction-1-1{
  animation-name: infinite-01 ;
  animation-duration: 6s;
  animation-iteration-count: infinite ;
  animation-timing-function: linear ; 
}


@keyframes infinite-01{
  0%{
    transform: translatey(0) ;
  }
  
  50%{
    transform: translatey(-5%);    
  }
  
  100%{
    transform: translatey(0);    
  }
  
}
.top-bar-1{
  height:50px;
  width:1920px;
  z-index:-2;
  
}

.top-bar-1-1{
  left:213px;
  top:10px;
}
.top-bar-1-1:hover{
filter: invert(68%) sepia(16%) saturate(1164%) hue-rotate(315deg) brightness(120%) contrast(80%);
}

.top-bar-1-2{
  left:361px;
  top:9px;
}

.top-bar-1-2:hover{
filter: invert(68%) sepia(16%) saturate(1164%) hue-rotate(315deg) brightness(120%) contrast(80%);
}

.top-bar-1-3{
  left:552px;
  top:10.8px;
}

.top-bar-1-3:hover{
filter: invert(68%) sepia(16%) saturate(1164%) hue-rotate(315deg) brightness(120%) contrast(80%);
}

.top-bar-1-4{
  left:1346px;
  top:14px;
}

.top-bar-1-4:hover{
filter: invert(68%) sepia(16%) saturate(1164%) hue-rotate(315deg) brightness(120%) contrast(80%);
}
.top-bar-1-5{
  left:1439px;
  top:14px;
}

.top-bar-1-5:hover{
filter: invert(68%) sepia(16%) saturate(1164%) hue-rotate(315deg) brightness(120%) contrast(80%);
}
.top-bar-1-6{
  left:1532px;
  top:14px;
}

.top-bar-1-6:hover{
filter: invert(68%) sepia(16%) saturate(1164%) hue-rotate(315deg) brightness(120%) contrast(80%);
}
.top-bar-1-7{
  left:1593px;
  top:14px;
}

.top-bar-1-7:hover{
filter: invert(68%) sepia(16%) saturate(1164%) hue-rotate(315deg) brightness(120%) contrast(80%);
}
.top-bar-1-8{
  left:1672px;
  top:9.8px;
}

.top-bar-1-8:hover{
filter: invert(68%) sepia(16%) saturate(1164%) hue-rotate(315deg) brightness(120%) contrast(80%);
}

.top-bar-2{
  height:80px;
  width:1920px;
}

.top-bar-2-1{
  top:6.28px;
  left:206px;
}
.top-bar-2-2{
  top:28.5px;
  left:326px;
}

.top-bar-2-2:hover{
filter: invert(23%) sepia(88%) saturate(7100%) hue-rotate(343deg) brightness(80%) contrast(134%); 
}
.top-bar-2-3{
  top:27px;
  left:450px;
}

.top-bar-2-3:hover{
filter: invert(23%) sepia(88%) saturate(7100%) hue-rotate(343deg) brightness(80%) contrast(134%); 
}
.top-bar-2-4{
  top:28px;
  left:620px;
}

.top-bar-2-4:hover{
filter: invert(23%) sepia(88%) saturate(7100%) hue-rotate(343deg) brightness(80%) contrast(134%); 
}
.top-bar-2-5{
  top:28px;
  left:781px;
}

.top-bar-2-5:hover{
filter: invert(23%) sepia(88%) saturate(7100%) hue-rotate(343deg) brightness(80%) contrast(134%); 
}
.top-bar-2-6{
  top:28px;
  left:924px;
}

.top-bar-2-6:hover{
filter: invert(23%) sepia(88%) saturate(7100%) hue-rotate(343deg) brightness(80%) contrast(134%); 
}

.top-bar-2-7{
  top:11.5px;
  left:1352px;
}

.top-bar-2-7:hover{
filter: invert(0%) sepia(4%) saturate(0%) hue-rotate(337deg) brightness(100%) contrast(107%);
}

.top-bar-2-8{
  top:4.5px;
  left:1427px;
}

.top-bar-2-8:hover{
filter: invert(0%) sepia(4%) saturate(0%) hue-rotate(337deg) brightness(100%) contrast(107%);
}

.top-bar-2-9{
  top:11.5px;
  left:1511px;
}

.top-bar-2-9:hover{
filter: invert(0%) sepia(4%) saturate(0%) hue-rotate(337deg) brightness(100%) contrast(107%);
}

.top-bar-2-10{
  top:8.5px;
  left:1582px;
}

.top-bar-2-10:hover{
filter: invert(0%) sepia(4%) saturate(0%) hue-rotate(337deg) brightness(100%) contrast(107%);
}

.top-bar-2-11{
  top:11.5px;
  left:1667px;
}

.top-bar-2-11:hover{
filter: invert(0%) sepia(4%) saturate(0%) hue-rotate(337deg) brightness(100%) contrast(107%);
}

/*benefit*/
.benefit{
  background-image:url('https://cdn.jsdelivr.net/gh/chaeryeong1/lotteworld/benefit/benefit-bg.png');
  width:1920px;
  height:1135px;
}
.benefit-1{
  top:282px;
  left:303px;
}
.benefit-2{
  top:282px;
  left:646px;
}
.benefit-3{
  top:282px;
  left:989px;
}
.benefit-4{
  top:282px;
  left:1332px;
}
.benefit-5{
  top:616px;
  left:303px;
}
.benefit-6{
  top:616px;
  left:646px;
}
.benefit-7{
  top:616px;
  left:989px;
}
.benefit-8{
  top:616px;
  left:1332px;
}
.benefit-card span{
  z-index:1;
}
.benefit-card-1{
  top:361px;
  left:321px;
}
.benefit-card-2{
  top:361px;
  left:664px;
}
.benefit-card-3{
  top:361px;
  left:1006px;
}
.benefit-card-4{
  top:361px;
  left:1349px;
}
.benefit-card-5{
  top:689px;
  left:321px;
}
.benefit-card-6{
  top:700px;
  left:650px;
}
.benefit-card-7{
  top:690px;
  left:1050px;
}
.benefit-card-8{
  top:719px;
  left:1350px;
}

/*움직이는 애니메이션*/
.benefit{
  perspective: 1000;
}

.benefit-card span img{
  position: relative;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}



.benefit-card-back {
  transform: rotateY(180deg);
}
.benefit-card span{
   transition: 0.5s;
}
.benefit-card span:hover{
  -webkit-transform: scale(1.1,1.1);
transform: scale(1.1,1.1);
}
.benefit-card span img:hover{
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
.festival{
  background-image:url('https://cdn.jsdelivr.net/gh/chaeryeong1/lotteworld/Festival/festival-bg.png');
  width:1920px;
  height:1033px;
}

/*festival*/

.festival-1{
  left:780px;
  top:254px;
}
.festival-2-2{
  left:785.11px;
  top:258.46px;

 
}
.festival-2,.festival-2-2,.festival-2-1{
  transition:0.5s;
 
}
.festival-2:hover .festival-2-2{
filter:blur(1px);
  filter: invert(0%) sepia(44%) saturate(32%) hue-rotate(315deg) brightness(60%) contrast(101%);
}

.festival-2-1{
  left:838px;
  top:380.72px;
  color:white;
text-align:center;
  font-size:1.15rem;
  transition:0.5s;
  z-index:2;
}
.festival-2:hover .festival-2-1{
  font-size:1.4rem;
  transition:0.7s;
   left:810px;
  font-weight:bold;
}
.festival-4{
  left:907px;
  top:536.72px;
}
.festival-5{
  left:479px;
  top:50px;
}
.festival-6{
  top:290px;
  transition:0.5s;
}

.festival-6:hover{
    transition:0.5s;
filter: invert(0%) sepia(44%) saturate(32%) hue-rotate(315deg) brightness(30%) contrast(101%);
  
  -webkit-transform: scale(1.1, 1.1);
transform: scale(1.1, 1.1);
}


.festival-7{
 top:290px;
  left:122px;
}
.festival-7{
 top:290px;
  left:122px;
   transition:0.5s;
}
.festival-7-text-box{
  left:398px;
  top:410px;
  color:white;
  transition:1s;
  display:none;
}
.festival-7-box{
   transition:0.5s;
}
.festival-7-text{
  top:398px;
  left:128px;
  z-index:4;
   transition:2s;
   
  display:none;
}
.festival-7-box:hover .festival-7-text{
  display:block;
  z-index:4;
  transition:2s;
   -webkit-transform: scale(1.1, 1.1);
transform: scale(1.1, 1.1);
  
}
.festival-7-box:hover .festival-7{
  transition:0.5s;
filter: invert(0%) sepia(44%) saturate(32%) hue-rotate(315deg) brightness(30%) contrast(101%);
  
  -webkit-transform: scale(1.1, 1.1);
transform: scale(1.1, 1.1);
}

.festival-7-text-2{
  left:146px;
  top:596px;
}



.festival-8{
 top:290px;
  left:451px;
   transition:0.5s;
}
.festival-8-text-box{
  left:465px;
  top:410px;
  color:white;
  transition:1s;
  display:none;
}
.festival-8-box{
   transition:0.5s;
}
.festival-8-text{
  top:398px;
  left:462px;
  z-index:4;
   transition:2s;
   
  display:none;
}
.festival-8-box:hover .festival-8-text{
  display:block;
  z-index:4;
  transition:2s;
   -webkit-transform: scale(1.1, 1.1);
transform: scale(1.1, 1.1);
  
}
.festival-8-box:hover .festival-8{
  transition:0.5s;
filter: invert(0%) sepia(44%) saturate(32%) hue-rotate(315deg) brightness(30%) contrast(101%);
  
  -webkit-transform: scale(1.1, 1.1);
transform: scale(1.1, 1.1);
}

.festival-8-text-2{
  left:470px;
  top:596px;
}



.festival-9{
 top:290px;
  left:1193px;
   transition:0.5s;
}
.festival-9-text-box{
  left:1205px;
  top:410px;
  color:white;
  transition:1s;
  display:none;
}
.festival-9-box{
   transition:0.5s;
}
.festival-9-text{
  top:398px;
  left:1205px;
  z-index:4;
   transition:2s;
   
  display:none;
}
.festival-9-box:hover .festival-9-text{
  display:block;
  z-index:4;
  transition:2s;
   -webkit-transform: scale(1.1, 1.1);
transform: scale(1.1, 1.1);
  
}
.festival-9-box:hover .festival-9{
  transition:0.5s;
filter: invert(0%) sepia(44%) saturate(32%) hue-rotate(315deg) brightness(30%) contrast(101%);
  
  -webkit-transform: scale(1.1, 1.1);
transform: scale(1.1, 1.1);
}

.festival-9-text-2{
  left:1210px;
  top:596px;
}



.festival-10{
 top:290px;
  left:1522px;
   transition:0.5s;
}
.festival-10-text-box{
  left:1205px;
  top:410px;
  color:white;
  transition:1s;
  display:none;
}
.festival-10-box{
   transition:0.5s;
}
.festival-10-text{
  top:398px;
  left:1537px;
  z-index:4;
   transition:2s;
   
  display:none;
}
.festival-10-box:hover .festival-10-text{
  display:block;
  z-index:4;
  transition:2s;
   -webkit-transform: scale(1.1, 1.1);
transform: scale(1.1, 1.1);
  
}
.festival-10-box:hover .festival-10{
  transition:0.5s;
filter: invert(0%) sepia(44%) saturate(32%) hue-rotate(315deg) brightness(30%) contrast(101%);
  
  -webkit-transform: scale(1.1, 1.1);
transform: scale(1.1, 1.1);
}

.festival-10-text-2{
  left:1544px;
  top:596px;
}
.festival-11{
  left:1851px;
  top:293px;
    transition:0.5s;
}
.festival-11:hover{
    transition:0.5s;
    -webkit-transform: scale(1.1, 1.1);
transform: scale(1.1, 1.1);
filter: invert(0%) sepia(44%) saturate(32%) hue-rotate(315deg) brightness(30%) contrast(101%);

}
.festival-bar{
  left:650px;
  top:765px;
}

.festival-button{
  padding:10px 30px 3px 33px;
  left:835px;
  top:904px;
  border:Solid 3px white;
  border-radius:30px;
  color:white;
  font-weight:bold;
  font-size:1.1rem;
  z-index:5;
}
.festival-button:hover{
  background-color:white;
  color:#E56969;
  z-index:5;
}

/*attraction*/

.attraction{
  background-image:url('https://cdn.jsdelivr.net/gh/chaeryeong1/lotteworld/attraction/attraction-bg.png');
  width:1920px;
  height:1712px;
}
.attraction-1-1{
  left:21.84px;
  top:466px;
}
.attraction-2{
  left:527px;
  top:190px;
}

.attraction-3{
   left:620px;
  top:300px;
}

.attraction-4{
   left:400px;
  top:435px;
}

.attraction-5{
   left:635px;
  top:435px;
}

.attraction-6{
  left:898px;
  top:372px;
}

.attraction-7{
   left:1066px;
  top:435px;
}

.attraction-8{
left:1301px;
  top:435px;
}

.attraction-9{
  left:400px;
  top:593px;
  transition:0.5s;
}

.attraction-9:hover{
  transition:0.5s;
  
}



.attraction-10{
   left:1466px;
  top:1035px;
}

.attraction-11{
    left:813px;
  top:1325px;
}

.attraction-12{
  left:707px;
  top:1417px;
  
}

.attraction-13{
   left:833px;
  top:1470px;
}
/*footer-bar*/

.footer-bar{
  background-image:url('https://cdn.jsdelivr.net/gh/chaeryeong1/lotteworld/footer-bar/footer-bar-bg.png');
  width:1920px;
  height:220px;
 
}

.footer-bar-1{
  left:293px;
  top:23px;
  
}
.footer-bar-2{
  left:1470px;
  top:13px;
  
}
.footer-bar-3{
  left:1530px;
  top:13px;
  
}
.footer-bar-4{
  left:1590px;
  top:13px;
  
}
.footer-bar-5{
  left:293px;
  top:79px;
  
}

.footer-bar-6{
  left:293px;
  top:115px;
}
.footer-bar-7{
  left:1469px;
  top:115px;
}
